* {
	box-sizing: border-box;
}

#about{
	color: blue;
	font-weight: bold;
	font-family: sans-serif;
}


body{
	background: url(https://branding.temple.edu/sites/branding/files/images/blocks/Red_DiamondPattern.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin: 0;
	margin-top: 80px;
}

.container {
	max-width: 750px; 
	margin: auto;
}
ul{
	padding:0;
	list-style-type: none;
	text-align: center;
	font-family: 'Quicksand', sans-serif;;
	font-weight: bold;
	color:white;
}
h4{
	font-family: 'Quicksand', sans-serif;;
	font-weight: bold;
	color:white;
	text-align: center;
	font-size: 24px;
}
main ul li{
	margin-bottom: 45px;
}
h3 {
	font-weight: bold;
	text-align: left;
	font-family: 'Quicksand', sans-serif;;
	font-size: 25px;
	padding-left: 5%;
	color: #bf0404;
	font-style: italic;
}


#definition {
	font-style: italic;
	font-size: 20px;
}
#about{
	color: blue;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}
nav{
	font-family: 'Quicksand', sans-serif;
	background: rgba(255,255,255,0.2);
	border-bottom: 10px #e01a1a;
	display: flex;
	justify-content: space-around;
	width: 100%;
	position: fixed;
	padding-top: 5px;
	padding-bottom: 0px;
	top: 0;

}
.menu li{
	display: inline-block;
	padding: 0;
		
}
.menu li a{
	display: block;
	padding: 5px 15px;
	background: #100f0f;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
.menu li a:hover {
	background: #9c8e8e;

}
p{
	color: white;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
}
body{
	background-color: white;
}

header {
	padding-top: 20px;
 	padding-bottom: 20px;
 	
}

h1 { 
	font-family: 'Quicksand', sans-serif;
	font-weight: unset;
	text-align: left;
	font-size: 60px;
	color: white;
}

h3 {
	font-weight: bold;
	text-align: left;
	font-family: helvetica;
	font-size: 25px;
	padding-left: 5%;
	color: #bf0404;
	background-color: white;
	margin-top: -30px;
	font-style: italic;
}

#definition {
	font-style: italic;
	font-size: 20px;
}

img, iframe {
	max-width: 100%;
	overflow: hidden;
	margin:auto
	text-align:center;
	border-color: white;
	
}
.textbox{
	background:rgba(0,0,0,.6);
	padding: 7px;
}
.link{
	color:white;
}